/* change naming for this */
.page {
    width: 100vw;
    height: 100vh;
    background: var(--background);
    display: flex;
    flex-direction: row;
    /* margin: auto; */
}

.pic {
    width: 50vw;
    height: 100vh;
    background: var(--background);
}
.pic2{
    width:40vw
}
.pic3{
    width: 100vw;
    padding-left: 200px;
}

.pic-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.25rem;
}

.form {
    width: 50vw;
    height: 100vh;
    /* padding: ; */
    background: var(--form-c);
    border-radius: var(--lbrad);
display: flex;
}
.form-text{
    padding-top: 1rem;
}
.form2{
    width: 60vw;
}
.form-container {
    min-width: 60%;
    max-width: 80%;
    height: auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
    /* padding: 6.25rem; */
    margin: auto;
}
.auth-form {
    height: auto;
}

/* Style for label and input */
.label-input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top:0.625rem ;
    padding-bottom:1.875rem;
}
.label-input label{
    margin:5px;
}
.label-input input {
    border-radius: var(--inp-brad);
    border: var(--inp-bor);
    /* height: var(--inp-h); */
    font-size: var(--wh4);
    text-indent: var(--inp-ind);
}

.auth-button {
    width: var(--but-w);
    /* height: var(--but-h); */
    border-radius: var(--but-brad);
    border: var(--but-bor);
    margin: var(--but-mar);
    color: var(--sec-t);
    font-size: var(--wh4);
    font-weight: bold;
}
.social-buttons button{
margin-top: 1rem;
margin-bottom: 1rem;
}
.login {
    margin-top: 1.875rem;
    background-color: var(--pri-c);
    
}
.apple{
    background-color: #1E1F20;
}
.google{
    border: 0.125rem solid var(--outline);
    background-color: #FFFFFF;
    color: var(--pri-t);
}
.other-button{
    background-color: var(--sec-c);
    width: 50%;
}
.center-item {
    align-self: center;
}