
.nav-container:hover, .nav-container.expanded {
    width: 250px;
    overflow: hidden;
    /* Maybe */
    opacity: 1;
}

.nav-container {
    background: var(--pri-c);
    color: pink;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 55px;
    overflow: hidden ;
    -webkit-transition:width .2s linear;
    transition:width .2s linear;
    -webkit-transform:translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity:1;
}

.nav-container>ul {
margin: 7px 0;
}

.nav-container li {
    position: relative;
    display: block;
    width: 250px;
}

.nav-container li>a {
    position: relative;
    width: 255px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#8a8a8a;
    font-size: 13px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1, 1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait',
    sans-serif;
    border-top:1px solid #f2f2f2;
    
    text-shadow: 1px 1px 1px #fff;
}