.connected-user-container{
    display: grid;
    grid-template-columns: 20%  auto 25%;
    grid-template-rows: repeat(2, auto) ;
    justify-items: center;
    align-items: center;
    column-gap:2% ;
}
.connected-user-info-pic-container{
    grid-area: 1/1/3/2;
width: 65%;
}
.connected-user-info-pic{

/* width: 65%; */
border-radius: var(--brad);
}
.connected-user-info-name{
grid-area: 1/2/2/3;
justify-self: start;
}
.connected-user-info-desc{
grid-area: 2/2/3/3;
color: var(--tri-t);
}
.connected-user-industry{
grid-area: 1/3/2/4;
justify-self: start;
/* margin: auto; */
display: flex;
flex-direction: column;
}
.connected-user-industry h4{
    text-align: left;
}
.connected-user-industry-heading{
    color: var(--tri-t);
}
.prime-industry-match{
    color: var(--qua-c);
}
.industry-match{
    color: var(--tri-c);
}
.connected-user-button{
grid-area: 2/3/3/4;
}

/* Move this up to top level of css when things become dynamic */
.verified-btn{
    color: var(--pri-t);
    background-color: var(--qui-c);
}
.norm-btn{
    color: var(--sec-t);
    background-color: var(--tri-c);
}
.connected-btn{
    color: var(--pri-t);
    background-color: var(--qui-c);
}
.connect-btn{
    color: var(--sec-t);
    background-color: var(--tri-c);
}