.message-container{
display: flex;
flex-direction: column;
/* margin: auto; */
/* padding-left: var(--nav-w); */
padding-left: 100px;
margin: 2% 6%;
    /* border: 1px solid black; */
    width: 30%
}
.message-container section:hover {
  box-shadow: var(--tshade);
  /* transform: scale(1.1, 1.1); */
}

.message-modal {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto 5%;
    /* border: 1px solid black; */
    height: 100vh;
    /* mod width too big for laptop */
    /* width: var(--mod-w); */
    /* width: 50rem; */
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--form-c);

    background-size: 250% 200%;
    animation: movingGradient 5s linear infinite alternate;
    color: var(--pri-t);
    border-radius: var(--lbrad);
    overflow-x: hidden ;
}
.message-modal-container{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
}
.message-modal-sender{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}
.message-sender{
    display: flex;
}
.message-sender-pic{
    border-radius: var(--brad);
    width: 20%;
    box-shadow: var(--bshade);
    margin-right: 30px;
}
.message-sender-info{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.message-sender-name{}

.message-sender-options{
    align-self: center;
}


.message-modal-chat{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: auto;
}


.message-select{
    display: flex;
    justify-content: space-between;
     margin-bottom: 2rem;
}

.inbox-message-container{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: repeat(2, auto) ;
    justify-items: center;
    align-items: center;
    column-gap:2% ;
    margin: 1rem 0;
}

.inbox-sender-pic{
width: 100%;
border-radius: var(--brad);
grid-area: 1/1/3/2;
}
.inbox-sender-name{
grid-area: 1/2/2/3;
justify-self: start;
}
.inbox-sender-message{
grid-area: 2/2/3/3;
justify-self: start;
}
.inbox-sender-time{
    grid-area: 1/3/2/4;
justify-self: center;
}
.inbox-sender-noti{
    grid-area: 2/3/3/4;
justify-self: center;
display: flex;
justify-content: center;
}
.prime-noti{
background-color: var(--qui-c);

}
.norm-noti{
background-color: var(--sec-c);

}
.message-box{
/* width: 65%; */
width: auto;
max-width: 65%;
padding: 10px 20px;
margin: 10px 0;
}
.message-text{
    width: auto;
}
.message-content-text{
    width: 100%;
}
.message-pic-box{
    width: 25%;
background-image: linear-gradient( to top, #611821 0%, #771c26 25%, #8e202b 50%, #a5242f 75%, #bd2932 100% );
border-radius: var(--brad);
background-size: 150% 150%;
animation: movingGradient 10s linear infinite alternate;
color: var(--sec-t);
padding: 20px 20px;
 box-shadow: var(--bshade);

}
.message-pic-pic{
    border-radius: var(--brad);
    width: 100%;
    box-shadow: var(--p-bshade);
}
.message-aud-box{
        width: auto;
background-image: linear-gradient( to top, #611821 0%, #771c26 25%, #8e202b 50%, #a5242f 75%, #bd2932 100% );
border-radius: var(--brad);
background-size: 150% 150%;
animation: movingGradient 10s linear infinite alternate;
color: var(--sec-t);
padding: 20px 20px;
 box-shadow: var(--bshade);
}
.message-aud-aud{
    width: 100%;
    color: var(--qui-c);
}
.message-vid-box{
    width: auto;
background-image: linear-gradient( to top, #611821 0%, #771c26 25%, #8e202b 50%, #a5242f 75%, #bd2932 100% );
border-radius: var(--brad);
background-size: 150% 150%;
animation: movingGradient 10s linear infinite alternate;
color: var(--sec-t);
padding: 10px 40px;
 box-shadow: var(--bshade);
}

/* Senders */
.sender-message{
 align-self: start;
    display: flex;
    flex-direction: column;
}
.sender-info{
    display: flex;
    align-items: center;
}
.sender-info-image{
    border-radius: var(--brad);
    width: 100px;
    margin-right: 20px;
    box-shadow: var(--bshade);
}
.sender-info-name{
    margin-right: 5px;
}
.sender-info-time{}
.sender-content{
    margin-left: 120px;
}



/* Receivers */
.receiver-message{
    align-self: end;
    display: flex;
    flex-direction: column;
}
.receiver-info{
    display: flex;
    align-items: center;
    align-self: end;
}
.receiver-info-image{
    border-radius: var(--brad);
    width: 100px;
    margin-left: 20px;
    box-shadow: var(--bshade);
}
.receiver-info-name{
    margin-right: 5px;
}
.receiver-info-time{}
.receiver-content{
        align-self: end;
    margin-right: 120px;
}


