/* User Page */
.user-container{
   display: flex;
flex-direction: column;
/* margin: auto; */
padding-left: var(--nav-w);
/* margin: 2% 5%;  */
}
.user-container section {
    margin: 1.5rem 0;
    padding: 3rem 0;
}

/* User Modal */
.right-modal {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto 5%;
    /* border: 1px solid black; */
    height: 100vh;
    width: var(--mod-w);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--form-c);

    background-size: 250% 200%;
    animation: movingGradient 5s linear infinite alternate;
    color: var(--pri-t);
    border-radius: var(--lbrad);
    overflow-x: hidden ;
}
.verified-modal{
        color: var(--sec-t);
background-image: linear-gradient(to top,
     #fffd9b 0%, 
     #f9f494 9.09%, 
     #f3eb8d 18.18%, 
     #ece286 27.27%, 
     #e6d97f 36.36%, 
     #e0d179 45.45%, 
     #daca73 54.54%, 
     #d4c26d 63.63%, 
     #cdb967 72.72%, 
     #c7b160 81.81%, 
     #c0a85a 90.90%,
     #b9a054 100%
           );
}

/* Modal Contents */
.modal-container{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* items in Modal */
/* notifaction and profile pic */
.modal-t-boxes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}
.top-boxes{
    width: 82.5px;
  height: 100%;
  border-radius: var(--brad);
}

/* notifaction box */
.noti-box{
background-color: var(--pri-c);
display: flex;
justify-content: center;

}
.noti-num {
    /* border: 1px solid black; */
    align-self: center;
    color: var(--sec-t);
}
.prof-pic{
  /* border: 1px solid white; */
  margin-left: 40px;
}

/* Modal Profile Picture */
.modal-prof-info{
width: 75%;
  border-radius: var(--brad);

}
.modal-prof-pic{
    /* maybe make this smaller for the profile picture in the modal */
    width: 100%;
  border-radius: var(--brad);
}

.prof-info-text{
    text-align: center;
}