.view-container{
    height: 100%;
    width: 100%;
    /* background: var(--pri-t); */
    background: #140f00;
    /* background: #2D0A0F; */
        color: var(--sec-t);

        display: flex;
        justify-content: center;
}
.side-video-content{
  margin-top: 3rem;
  padding:0 1rem;
  display: flex;
  flex-direction: column;
  /* TODO: Add the scroll stuff here */
}
.side-view-container{
   height: 100%;
    width: 20%;
    /* background: var(--pri-t); */
    background: #140f00;
    /* background: #2D0A0F; */
        color: var(--sec-t);

        display: flex;
        flex-direction: column;
        justify-content: center;
        /* TODO: MAke dynamic for mobile */
}

.side-video-content-thumbnail{
  width: 40%;
  color: var(--tri-t);
}
.side-video-content-thumbnail-img{
  width: 100%;
}
.side-video-content-info{
  color: var(--tri-t);
  width: 50%;
}
.view-content{
    margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  color: var(--sec-t);
}
.view-content-info{
  display: flex;
  justify-content: space-between;
}

.catalog-container{
  width: 100%;
}

.catalog-shows{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
}

.video-block-container{
  width: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  margin: var(--page-mar);
  padding: 7%;
}

.video-block-thumbnail{
  min-height: 200px;
  width: 100%;
  /* height: ; */
background-color: gray;
  border-radius: var(--brad);
}
.video-block-title{}
.video-block-description{}
.video-block-numbers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-block-numbers-date{}
.video-block-numbers-view{}

.subscribe-button{
  background-color: var(--tri-c);
  color: var(--sec-t);
  
}